/home/friday13/Downloads
/home/friday13/.weechat/logs
/home/friday13/Documents/dotfiles/dotfiles/local/bin/*.py
*.idea
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.cache
**/logs
*.log

pkg/
src/

### Linux ###
*~

.fuse_hidden*

.directory

.Trash-*

.nfs*

Desktop/
/home/friday13/.config/composer/vendor/
Documents/Work/
.dotfiles/
Music/
.mozilla/
Videos/
.cache/
.fzf/
go/
.go/
www/
.cmake/
.cargo/
.config/nvim/plugged/
.config/composer/vendor/
.config/chromium/
.config/discord/
.gnome/
.lyrics
.node_modules
.npm
.ncmpcpp
.nv
.pki
.steam
.vagrant.d
VirtualBox VMs/
.local/pipx/
.local/share/Steam/

